* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    margin: 0;
    height: 100%;
    padding: 0;
    font-family: sans-serif;
    /*background-color: black;*/
    color: white;
    overflow: hidden;
    background-color: rgb(14, 2, 2);
    
}
#app {
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type:y mandatory;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    touch-action: pan-y;
    

}
.video {
    flex: 1;
    position: relative;
    background-color: #111;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px;
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
    color: white;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
    

}
.video-info {
    z-index: 2;
    max-width: 70%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;

}
.video-info h4,
.video-info p{
    margin-top: 8px;
}
.video-actions {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    right: 10px;
    bottom: 60px;
    position: absolute;
}
.video-actions button {
    background: rgba(98, 238, 189, 0.084);
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    padding: 15px;
    color:  rgba(13, 245, 214, 0.959);
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(103, 232, 166, 0.093);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease, background 0.3s ease;
}
button {
    background:rgba(75, 224, 184, 0.15);
    border: none;
    border-radius: 50%;
    padding: 10px;
    margin:5px;
    font-size: 18px;
    color:  rgba(13, 245, 214, 0.959);
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}
button:hover {
    transform: scale( 1.1);
}
.video-player {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;


}
.comment-panel{
    background:rgba(75, 224, 184, 0.15);
    bottom: 0;
    left:0;
    width:100vw;
    height:100vh;
    max-height: 100vh;
    color:whitesmoke;
    font-weight: bolder;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    flex-direction:column;
    z-index: 9999;
    backdrop-filter: blur(8px);
    animation: slideUp 0.3s ease-out;
    overflow: hidden;
}
.comment-section {
    z-index: 9999;
    width: 100vw;
    height:70vh;
    position:absolute;
    bottom:0px;

} 
.comment-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    font-size: 18px;
    border-bottom: 1px solid #444;
    
}
.comment-list {
    flex:1;
    overflow-y: auto;
    padding: 10px 16px;
}
.comment-input-area {
    display: flex;
    border-top: 1px solid #444;
    padding: 10px;
    background: #111;
}
.comment-input-area input {
    flex: 1;
    background: rgba(75, 224, 184, 0.15);
    color:white;
    border:none;
    padding: 8px;
    border-radius:8px;
    margin-right:8px;

}
.comment-input-area button {
    background: rgba(1, 87, 64, 0.15);
    border: none;
    color:white;
    padding: 8px 12px;
    border-radius: 8px;
    cursor:pointer;

}
@keyframes slideUp{
    from{transform: translateY(100%);}
    to{transform: translateY(0);}
}
.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 10;
}
.bottom-bar button {
    background:none;
    border: none;
    color: rgba(13, 245, 214, 0.959) ;
    font-size: 22px;
}
.upload-page {
    width: 100%;
    height: 100%;
    overflow: scroll;
    color: white;
    background-color: rgba(55, 236, 178, 0.128);
}
.input {
    padding: 12px 16px;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
    outline :none;
}
.input:focus {
    border-color: #5e9eff;
    box-shadow: 0 0 0 4px rgba(94,158,255,0.2);
}
.profile-page {
    padding: 16px;
    text-align: center;

}
.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;

}
.stats-row{
    display: flex;
    justify-content: space-around;
    margin-top: 12px;

}
.stats-row button {
    color: whitesmoke;
    background-color: aquamarine;
    border-radius: 8px;
    
}
.video-grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 8px;
    margin-top:20px;
    background-color: whitesmoke;


}
.video-thumb{
    width: 100%;
    height: auto;
    border-radius: 8px;
    
}
#captionInput {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    background:rgba(0,0,0,0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    border:none;
    width: 100%;
    font-size: 14px;

}
